{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-svelte",
    "@prettier/plugin-xml"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "astroAllowShorthand": true
      }
    },
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "vueIndentScriptAndStyle": true,
        "singleAttributePerLine": false
      }
    },
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "svelteIndentScriptAndStyle": true,
        "svelteStrictMode": false,
        "svelteBracketNewLine": false,
        "svelteAllowShorthand": true
      }
    },
    {
      "files": "*.{ts,tsx,js,jsx}",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.jsonc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.{css,scss}",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "always"
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx",
        "proseWrap": "always"
      }
    }
  ]
}
